<%-include('head.ejs')%>

<div class="container mt-3">
    <h2>Signup</h2>
    <form action="/signup" method="post">
        <div class="mb-3">
            <label for="name">name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
          </div>
      <div class="mb-3 mt-3">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
      <div class="mb-3">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
      </div>
      <div class="mb-3">
        <label for="mobile">mobile no:</label>
        <input type="number" class="form-control" id="mobile" placeholder="mobile number" name="mobile">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <div>already signup than please <a href="/">login</a> </div>
    </form>
</div>
<%-include('footer.ejs')%>